

<div id="edit-listing">
        
<!-- adjust this route -->
    <form action="/admin/approve/<%= stylist.id %>?_method=PUT" method="POST">

        <h1>Review this listing</h1>

        <!-- change html structure here -->
        <div>
            <label for="fullName">Name:</label>
            <input type="text" id="fullName" name="fullName" value = "<%=stylist.fullName%>">
        </div>
        <div>

            Business type: <%= stylist.business_type %>

    </div>

        <div>
            <label for="address">Address:</label>
            <input id="address" name="address" type="text" value = "<%=stylist.address%>" />
            <!-- <input id="submit" type="button" value="Geocode" /> -->
        </div>
        <div id="errMessage">
            <p> </p>
        </div>
       
        <div>
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" value = "<%=stylist.website%>">
        </div>

        <div>
            <label for="number">Number:</label>
            <input type="text" id="number" name="number" value = "<%=stylist.phone%>">
        </div>


        <h2>Social Media</h2>
        <div class>
            <label for="instagram">Instagram <i class="fab fa-instagram"></i></label>
            <input type="text" id="instagram" name="instagram" value = "<%=stylist.instagram%>">
        </div>
        <div>
            <label for="Facebook">facebook <i class="fab fa-facebook-f"></i></label>
            <input type="text" id="facebook" name="facebook" value = "<%=stylist.facebook%>">
        </div>
        <div>
            <label for="tikTok">TikTok <i class="fab fa-tiktok"></i></label>
            <input type="text" id="tiktok" name="tiktok" value = "<%=stylist.tiktok%>">
        </div>
        <div>
            <label for="twitter">Twitter <i class="fab fa-twitter"></i></label>
            <input type="text" id="twitter" name="twitter" value = "<%=stylist.twitter%>">
        </div>
        <!-- <div>
            <label for="isApproved">is Approved?</label>
            <input type="text" id="isApproved" name="isApproved" value = <%=stylist.isApproved%>>
        </div> -->
        <div>
            <input type="radio" id="isApproved" name="isApproved" value= "false">
<label for="false">false</label><br>
<input type="radio" id="isApproved" name="isApproved" value= true>
<label for= "true">true</label><br>
        </div>


    </div>


        <input type="submit" value="Submit">
    </form>



<!-- <div id = "admin-list"><ul>
    <li>Name: <%=stylist.fullName %> </li>
    <li>Website: <%=stylist.website %> </li>
    <li>Address: <%=stylist.address%></li>

    <li>Coordinates: <%=stylist.coords%></li>

    <li>Phone Number: <%=stylist.phone%> </li>

    <li>Instagram: <%=stylist.instagram%></li>

    <li>Facebook: <%=stylist.facebook%></li>
    <li>Twitter: <%=stylist.twitter%></li>
    <li>Approval status: <%=stylist.isApproved%></li>

</ul> -->



</div>
